<link rel="shortcut icon" href="/aaai-logo.png">
<meta name="keywords" content="association, advancement, artificial, intelligence, aaai, ai, usc, computerscience, viterbi, cs, computer, science, artificialintelligence, aaaiusc" />
<meta name="description" content="Welcome to the Association for the Advancement of Artificial Intelligence at the University of Southern California!" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/templatemo_style.css" rel="stylesheet">
<link href="/css/circle.css" rel="stylesheet">
<link href="/css/jquery.bxslider.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/nivo-slider.css">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>
<script src="/js/modernizr.custom.js"></script>

<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
