<div class="mWrapper">
    <div class="container" style="width:96%">
        <div class="row" style="width:100%">
            <div class="col-sm-2 col-md-2" style="float:left">
                <div>
                    <a href="#"><img src="/AAAI2015logo.jpg" alt="AAAI USC" style="height: 60px; width: auto;"></a>
                </div>
            </div>
            <div class="col-sm-9 col-md-9" style="float:right;margin-right:-4%">
                <nav class="mainMenu">
                    <ul class="nav">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#team">Officers</a></li>
                        <li><a href="#blog">AI Everywhere</a></li>
                        <li><a href="newsletters/Sept16.html">Newsletters</a></li>
                        <li style="background-color:#00CCFF"><a href="https://aaaiusc.typeform.com/to/Q3s2ZV" style="color:#FFF;">Join</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>